body {
    background-color: #EFEAE7;
    /*#EFEAE7*/
    margin: 0;
    padding: 0;
    height: fit-content;
    color: #d89766;
}

p {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    margin: 0;
}

h1 {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    margin: 0;
}

h2 {
    margin: 0;
}

.wrapper {
    grid-column: 1/13;
    grid-template-columns: 60px repeat(12, 1fr) 60px;
    grid-template-rows: repeat(13, minmax(75px, auto));
    column-gap: 25px;
    row-gap: 20px;
    display: grid;
}

.navbar {
    margin: 20px 60px;
    background-color: #efebe8;
    backdrop-filter: 10px;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: #d89766;
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.navbar .title {
    font-family: "lithos-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

#button{
    float: right;
}

button {
    background-color: transparent;
    border: #d89766 1px solid;
    border-radius: 25px;
    padding: 2px 8px;
    color: #d89766;
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    width: fit-content;
}

button:hover{
    background-color: #d89766;
    color: #efebe8;
}


.container {
    grid-column: 1/15;
    grid-row: 1/6;
    background-color: white;
    display: grid;
    grid-template-columns: 60px repeat(12, 1fr) 60px;
    grid-template-rows: repeat(auto, minmax(75px, auto));
    column-gap: 25px;
    row-gap: 20px;
}

.introduction {
    margin-top: 20px;
    grid-column: 3/13;
    grid-row: 1;
}

.introduction h1 {
    font-style: italic;
}


.imgHomepage {
    grid-column: 1/15;
    grid-row: 2/5;
}

.imgHomepage img {
    width: 100%;
}

.dailyFact {
    display: grid;
    grid-column: 5/11;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    grid-row: 5/7;
    font-size: 32px;
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    margin: 0;
}

.fact {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 35px;
    margin: 0;
}

/* deities homepage */
.deitiesHome {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    grid-column: 3/13;
    grid-row: 8/9;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}

.deityContainer {
    grid-column: 1/8;
}

.deityContainer a {
  text-decoration: underline;
  color: #d89766;
}

.deityImg  {
    grid-column: 8/13;
}

.deityImg img{
    width: 100%;
}

/* myths homepage */

.mythsHome {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    grid-column: 3/13;
    grid-row: 9/10;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
 }

.mythsContainer {
    grid-column: 1/8;
}

.mythsContainer a {
  text-decoration: underline;
  color: #d89766;
}

.mythsImg{
    grid-column: 8/13;
}

.mythsImg img {
    width: 100%;
   
} 

/* inspirations homepage */
.inspirationsHome {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    grid-column: 3/13;
    grid-row: 10/11;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
 }

.inspirationsContainer {
    grid-column: 1/8;
}

.inspirationsContainer a {
  text-decoration: underline;
  color: #d89766;
}

.inspirationsImg{
    grid-column: 8/13;
}

.inspirationsImg img {
    width: 100%;
   
} 

/* timeline homepage */
.timelineHome {
    grid-column: 3/13;
    grid-row: 11/12;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.timeline {
    grid-row: 7;
}

.horizontal-line {
    position: relative;
    border-top: 2px solid #000; 
    width: 100%; 
}

.dots {
    background-color: black;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.dots:nth-child(1) {
    left: 10%; 
}

.dots:nth-child(2) {
    left: 20%; 
}

.dots:nth-child(3) {
    left: 30%; 
}

.dots:nth-child(4) {
    left: 40%; 
}

.connection-up {
    position: absolute;
    height: 50px;
    border-left: 2px solid #000; 
}

.connection-up:nth-child(1){
    top: -50px; 
    left: 50%; 
}

.connection-up:nth-child(2){
    top: -50px;
    left: 50%; 
}


.event-up {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.connection-down {
    position: absolute;
    height: 50px;
    border-left: 2px solid #000;
    left: 50%
}

.event-down {
    position: absolute;
    top: 60px; 
    left: 50%; 
    transform: translateX(-50%);
    white-space: nowrap;
}

.event-down a{
    color: inherit;
}