/* using this stylesheets on multiple pages because design is very similar */

body {
    background-color: #efebe8;
    /*#EFEAE7*/
    margin: 0;
    padding: 0;
    color: #d89766;    
}

p {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    margin: 0;
}

h1 {
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    margin: 0;
    color: #d89766;
}

h2 {
    margin: 0;
}

.navbar {
    padding: 20px 60px;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: #d89766;
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.navbar .title {
    font-family: "lithos-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

section{
    text-align: center;
    width: 25%;
    padding-top: 10px;
    margin: 40px auto;
    background-color: white;
    border-radius: 25px;
}


#inputForm{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#inputForm p{
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #d89766;
}

#username, #password, #passwordConfirm, .loginBtn{
    border: #d89766 1px solid;
    padding: 8px;
    border-radius: 5px;
    color: #d89766;
    background-color: white;
    width: 80%;
    font-size: 20px;
}


.loginBtn{
    font-family: "futura-pt", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0 auto 10px;
    background-color: #d89766;
    color: white;
    width: 84%;
}

.loginBtn:hover{
    background-color: white;
    color: #d89766;
}

.register{
    margin-bottom: 20px;
    color: #d89766;
    text-decoration: none;
}
